common/credentials.env
common/envs
aoai_poc_hub.code-workspace
*.conda/*
*.env
*.amlignore
*.gitignore
*.amltmp
*.ipynb_aml_checkpoints*
SQLBYODExample.ipynb
*.git
*.conda
*.cache
.gitignore
e6_rag_techniques/data/graphrag/*
